<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=920" />
	
	<title>
		{{ sites.site_name }}
	</title>
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/main.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="{{ MEDIA_URL }}/js/plugins.js"></script>
	<script src="{{ MEDIA_URL }}/js/main.js"></script>
	
</head>
<body>
<p>
	DATA = {{ data }}
</p>


{% if TEMPLATE_DEBUG = debug %}
	<div id="debug">
	{% for f in sites.get_all_fields %}
		<dt>{{f.label|capfirst}}</dt>
		<dd>
		{{f.value|escape|urlize|linebreaks}}
		</dd>
	{% endfor %}
	  <h2>Queries</h2>
	  <p>
		{{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
		{% ifnotequal sql_queries|length 0 %}
		(<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
		{% endifnotequal %}
	  </p>
	  <table id="debugQueryTable" style="display: none;">
		<col width="1"></col>
		<col></col>
		<col width="1"></col>
		<thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">SQL</th>
		  <th scope="col">Time</th>
		</tr>
		</thead>
		<tbody>
		{% for query in sql_queries %}<tr class="{% cycle odd,even %}">
		  <td>{{ forloop.counter }}</td>
		  <td>{{ query.sql|escape }}</td>
		  <td>{{ query.time }}</td>
		</tr>{% endfor %}
		</tbody>
	  </table>
	</div>
{% endif %}

</body>
</html>


