{% extends "base.html" %} 
{% block page_title %}View Siloed Data{% endblock %} 

{% block content %}
	<h3>View a Silo</h3>
	<p>Select a Silo of Data to view the sources</p>
	<ul>
			{% for item in get_silos %}
				<li>Silo: <a href="/silo_detail/{{ item.id }}">{{ item.name }}</a>
						<ul>
						<li>Source: <a href="/silo_detail/{{ item.id }}">{{ item.source }}</a></li>
						<li>Description: {{ item.source.description }}</li>
						<li>
								<a href="/silo_edit/{{ item.id }}">Edit Silo</a> | 
								<a href="/merge/{{ item.id }}">Merge Silo</a> | 
								<a href="/silo_delete/{{ item.id }}">Delete Silo</a>
						</li>
						</ul>
				</li>
			{% endfor %}
	</ul>

{% endblock content %}