{% extends "base.html" %} 
{% block page_title %}Feeds{% endblock %} 

{% block content %}
<h2>List of current Feeds available or create a new Feed</h2>
{% for item in getFeed %}
	<li>Feed: {{ feed.name }} 
			<ul>
			<li>Feed URL: <a href="{{ item.url }}" target="_new">{{ item.url }}</a></li>

			</ul>
	</li>
{% endfor %}

<p>Select source data</p>
<ul>
		{% for item in getSources %}
			<li>Silo: {{ item.name }} 
					<ul><form action="/create_feed/" method="post">
					<li>Create a Feed 
						
						<select name="feed_type"><option value="" selected="selected">-- select --</option>{% for item2 in getFeedTypes %}<option value="{{ item2.id }}">{{ item2.description }}</option>{% endfor %}</select>
						<input type="hidden" name="silo_id" value="{{ item.id }}">
						<input type="submit" value="Submit" />
						</form>
					 </li>
					</ul>
			</li>
		{% endfor %}
</ul>
 <br>

{% endblock content %}